.container {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 5rem;
    height: 100%;
    width: 25%;
    background-color: white;
}
.btn {
    display: block;
    padding: 2rem;
    width: 100%;
}